.row {
    padding: 10px;
    width: 900px;
    border-bottom: 1px solid black;
    border-left: 1px solid gainsboro;
    border-top: 1px solid black;
    border-right: 1px solid gainsboro;
    /* min-height: 50px; */
    /* box-shadow: 2px 2px #888888;     */

}

.text-start {
    width: 500px;
}

.Likes {
    position: relative;
    left: 800px;
    bottom: 90px;
}

.replies {
    position: relative;
    left: 100px;
}

.comments-container {
    min-height: 300px;
    height: auto;
    width: auto;
    /* margin: 80px auto 0px auto; */
    /* padding: 10px 10px;  */
}